{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'image/favicon.ico'%}" type="x-icon">
    <title>Weather App</title>
</head>
<body>
    <div class="form">
        <h1>Weather App</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter city name">
            <button type="submit">Get Weather</button>
        </form>
    </div>
    <div class="main-body">
        {% if weather %}
            <h2>Weather in {{ weather.name }}</h2>
            <p>Temperature: {{ weather.main.temp }} °C</p>
            <p>Description: {{ weather.weather.0.description }}</p>
        {% endif %}
    </div>
</body>
</html>
